<!--

visualize.html and visualize.js in the visualization folder: These files use the JavaScript library 3d-force-graph to visualize the final values of the nodes and edges as a graph network. The final values of the nodes and edges outputted by the MaxFlow class can be inputted into these files to display the graph network.

      const finalValues = get_final_values();
      visualize(finalValues, "#graph-container");

-->

<!DOCTYPE html>
<html>
  <head>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://unpkg.com/3d-force-graph"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--<script src="visualize.js"></script>-->
    <script src="{{ url_for('static', filename='visualize.js') }}"></script>
  </head>
  <body>
    <div id="graph-container"></div>
    <script>
      const d3 = window.d3;
      var ForceGraph3D = window.ForceGraph3D;
    </script>
  </body>
</html>
